
.filename-container.old {
  display: block;
  min-height: 20px;
  text-overflow: ellipsis;
  border-style: inset;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 5px;
  border-width: thin;
}

.filename-container {
  display: block;
  text-overflow: ellipsis;
  flex: 1 1 0;
}

.file-heading {

}

.dragging-active {
  background-color: rgba(147, 147, 147, 0.5);
}
