<div class="footer">
  <div class="footer-status">
    <div class="status-items ml-3 pt-2">
      <div *ngFor="let section of (footerItems$ | async)" class="status-items-section">
        <span *ngFor="let item of section">
          <span *ngIf="item.isHeadingLabel" class="status-label font-weight-bold">{{item.title}}:</span>
          <span *ngIf="!item.isHeadingLabel" class="status-item mx-1" [ngClass]="item.titleClass">
            {{item.title}}:
            <span *ngIf="item.hasValue" class="font-weight-bold" [ngClass]="item.valueClass">
              {{item.value}}
            </span>
          </span>
        </span>
      </div>
    </div>
  </div>
  <div class="footer-progress">
    <div *ngIf="loading$ | async">
      <p-progressBar mode="indeterminate" [style]="{'height': '6px'}"></p-progressBar>
    </div>
  </div>
</div>
