<!-- FOO -->
<div class="container" #container>

  <div class="header" #header>
    <!-- Top Menu -->
      <div class="p-grid p-dir-col">
        <div class="p-col">
          <app-compare-menu></app-compare-menu>
        </div>
      </div>

      <!-- File Uploader -->
      <div class="p-col file-container">
        <div class="p-grid">
          <div class="p-col py-0">
              <app-file-loader heading="Source" (fileContents)="onFileContents('left', $event)"></app-file-loader>
          </div>
          <div class="p-col py-0">
              <app-file-loader heading="Target" (fileContents)="onFileContents('right', $event)"></app-file-loader>
          </div>
        </div>
      </div>
  </div>

  <!-- Main Content -->
  <div class="content" #content>

      <div class="p-grid" #contentConfig>
          <div class="p-col-fixed settings">
              <app-compare-settings
                [leftHeaders]="left?.headers"
                [rightHeaders]="right?.headers"
                [disabled]="!left || !right"
                [type]="compareType"
                (settingsChanged)="onSettingsChanged($event)"
              ></app-compare-settings>
          </div>
          <div class="p-col-fixed mt-auto mb-3">
              <app-compare-buttons
                [allDisabled]="disableButtons.all"
                [textDisabled]="disableButtons.text"
                [tableDisabled]="disableButtons.table"
                (compare)="onCompare($event)"
              ></app-compare-buttons>
          </div>
      </div>

        <div *ngIf="compareActive && compareType === 'text'">
            <app-compare-text [left]="left.raw" [right]="right.raw"></app-compare-text>
        </div>
        <div *ngIf="compareType === 'table'">
            <!-- <app-comparison-table
              [headers]="left.headers"
              [data]="matchedRows"
            ></app-comparison-table> -->
            <!-- <app-comparison-table-cdk
              [headers]="left.headers"
              [data]="matchedRows"
              [maxHeight]="contentHeight"
            ></app-comparison-table-cdk> -->
            <app-compare-table-container [contentHeight]="contentHeight"></app-compare-table-container>
        </div>
  </div>

  <!-- footer -->
  <div class="footer" #footer>
    <app-status-footer [tableDiffMetadata]="tableDiffMetadata"></app-status-footer>
  </div>

</div>
