.container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  height: 100vh;

  .header {
    flex: 0 1 auto;
  }
  .content {
    flex: 1 1 auto;
  }

  .footer {
    flex: 0 1 40px;
  }

}
