.container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  height: 100vh;

  .header {
    flex: 0 1 auto;
  }
  .content {
    flex: 1 1 auto;
  }

  .footer {
    flex: 0 1 40px;
  }

  .file-container {
    max-height: 90px;
    min-height: 90px;
    overflow: hidden;
  }

  .settings {
    // width: 400px;
  }

}
