<!-- FOO -->
<div class="container" #container>

  <div class="mx-2 mb-2">
    <p-tabMenu [model]="menuItems" [activeItem]="activeMenuItem">
        <ng-template pTemplate="item" let-item let-i="index">
            <span>
              <fa-icon [icon]="['fal', item.icon]"></fa-icon>
              {{item.label}}
            </span>
        </ng-template>
    </p-tabMenu>
  </div>

  <div [ngSwitch]="activeMenuItem.id">
      <app-file-compare *ngSwitchCase="'compareFiles'"></app-file-compare>
      <app-text-compare *ngSwitchCase="'compareText'"></app-text-compare>
  </div>

  <!-- footer -->
  <div class="footer" #footer>
      <app-status-footer></app-status-footer>
  </div>

</div>
