<button
  pButton
  type="button"
  class="ui-button-raised ui-button-secondary"
  [ngClass]="{
    'ui-button-warning': !disabled && (!mappedHeaders || mappedHeaders.length === 0),
    'ui-button-success': !disabled && mappedHeaders?.length > 0
  }"
  label="Configure Mapping"
  icon="pi pi-sitemap"
  iconPos="right"
  [disabled]="disabled"
  (click)="onActive()"
></button>

<p-dialog
  header="Map columns to compare"
  [(visible)]="active"
  [modal]="true"
  [responsive]="true"
  [blockScroll]="true"
  [style]="{'min-width': '550px'}"
  [minY]="70"
  [maximizable]="true"
  [baseZIndex]="10000"
>
  <div [ngStyle]="{'max-height': '70vh'}">
    <p>
      Specify which columns from the left file will be matched to the right file. <em>Any unmapped columns will not be compared</em>
    </p>

      <p-table [columns]="columns" [value]="mappedHeaders">
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th *ngFor="let column of columns">
                {{column}}
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns" let-index="rowIndex">
          <tr>
            <td>{{rowData.left}}</td>
            <td>
              <p-dropdown [options]="rowData.options" [(ngModel)]="rowData.right" [filter]="true" placeholder="Choose mapping"></p-dropdown>
              <span class="ml-1">
                <i class="pi" [ngClass]="{'pi-check text-success': rowData.right, 'pi-times text-danger': !rowData.right}"></i>
              </span>
            </td>
          </tr>
        </ng-template>
      </p-table>

    </div>

  <p-footer>
    <button type="button" pButton icon="pi pi-check" (click)="onSave()" label="Done"></button>
  </p-footer>
</p-dialog>
