

<div *ngIf="rows?.length > 0">

    <div class="p-grid options-row mx-2">
      <div class="p-col">
        <span *ngFor="let option of options" class="mr-2">
          <p-checkbox [ngModel]="option.value" (ngModelChange)="onOptionChange(option)" binary="true" [label]="option.label"></p-checkbox>
        </span>
      </div>
    </div>

  <div class="m-2">
    <p-paginator
      [first]="pagination.page * pagination.pageSize"
      [rows]="pagination.pageSize"
      [totalRecords]="this.hideMatchingRows ? pagination.totalDiffs : pagination.total"
      pageLinkSize="10"
      [rowsPerPageOptions]="[25, 50, 75, 100]"
      (onPageChange)="paginate($event)"
    ></p-paginator>
  </div>

  <app-comparison-table
    [compareResults]="compareResults"
    [headers]="visibleHeaders"
    [rows]="visibleRows"
    [scrollSync]="scrollSync"
  ></app-comparison-table>

</div>

