<div class="header" #header>

    <!-- File Uploader -->
    <div class="p-col file-container">
      <div class="p-grid">
        <div class="p-col py-0">
            <app-file-loader heading="Source" [file]="left" (fileContents)="onFileContents('left', $event)"></app-file-loader>
        </div>
        <div class="p-col py-0">
            <app-file-loader heading="Target" [file]="right" (fileContents)="onFileContents('right', $event)"></app-file-loader>
        </div>
      </div>
    </div>
</div>

<!-- Main Content -->
<div class="content" #content>

    <div class="p-grid px-2" #contentConfig>
        <div class="p-col-fixed settings">
            <app-compare-settings
              [leftHeaders]="getHeaders(left)"
              [rightHeaders]="getHeaders(right)"
              [disabled]="!left || !right"
              [type]="compareType"
              (settingsChanged)="onSettingsChanged($event)"
            ></app-compare-settings>
        </div>
        <div class="p-col-fixed mt-auto mb-3">
            <app-compare-buttons
              [allDisabled]="disableButtons.all"
              [textDisabled]="disableButtons.text"
              [tableDisabled]="disableButtons.table"
              (compare)="onCompare($event)"
            ></app-compare-buttons>
        </div>
        <div class="p-col mt-auto mb-auto">
          <app-error></app-error>
        </div>
    </div>

      <div *ngIf="compareActive && compareType === 'text'">
          <app-compare-text [leftFile]="left.filename" [rightFile]="right.filename"></app-compare-text>
      </div>
      <div *ngIf="compareType === 'table'">
          <app-compare-table-container></app-compare-table-container>
      </div>
</div>
