
<span class="diff-table">
  <div class="p-grid options-row">
      <div class="p-col">
        <span *ngFor="let option of options" class="mr-2">
          <p-checkbox [ngModel]="option.value" (ngModelChange)="onOptionChange(option)" binary="true" [label]="option.label"></p-checkbox>
        </span>
      </div>
  </div>

  <div class="p-grid grid-container" [ngStyle]="containerStyle">
      <div class="p-col grid-container-col" id="left-compare-table-container" appContainer cdkScrollable>
        <!-- LEFT -->
        <table cdk-table [dataSource]="visibleRows" [trackBy]="trackBy">
          <ng-container cdkColumnDef="_#_" sticky="true">
            <th cdk-header-cell *cdkHeaderCellDef>#</th>
            <td cdk-cell *cdkCellDef="let row">
              <div class="row-number-cell">
                {{row.index}}
                <i class="pi pi-check text-success" *ngIf="!row.data.hasDiffs"></i>
                <i class="pi pi-times text-danger" *ngIf="row.data.hasDiffs"></i>
              </div>
            </td>
          </ng-container>
          <ng-container [cdkColumnDef]="col" *ngFor="let col of headers">

            <th
              cdk-header-cell
              *cdkHeaderCellDef
              appHeaderCellSize
              [ngStyle]="{'min-width': getColWidth(col)}"
            >
                {{col}}
            </th>

            <td cdk-cell *cdkCellDef="let row" [ngClass]="{'diff mismatch-column': row.data.comparison[col] && row.data.comparison[col].content.hasDiff}">
                <span
                  *ngIf="row.data.comparison[col] && row.data.comparison[col].content.left"
                  [innerHtml]="row.data.comparison[col].content.left"
                >
                </span>
            </td>

          </ng-container>

          <tr cdk-header-row *cdkHeaderRowDef="visibleColumns"></tr>
          <tr cdk-row *cdkRowDef="let row; columns: visibleColumns"></tr>

        </table>
      </div>


      <div class="p-col grid-container-col" id="right-compare-table-container" appContainer cdkScrollable>
      <!-- RIGHT -->
      <table cdk-table [dataSource]="visibleRows" [trackBy]="trackBy">
          <ng-container cdkColumnDef="_#_" sticky="true">
            <th cdk-header-cell *cdkHeaderCellDef>#</th>
            <td cdk-cell *cdkCellDef="let row">
              <div class="row-number-cell">
                {{row.index}}
                <i class="pi pi-check text-success" *ngIf="!row.data.hasDiffs"></i>
                <i class="pi pi-times text-danger" *ngIf="row.data.hasDiffs"></i>
              </div>
            </td>
          </ng-container>
          <ng-container [cdkColumnDef]="col" *ngFor="let col of headers">
              <th
                cdk-header-cell
                *cdkHeaderCellDef
                appHeaderCellSize
                [ngStyle]="{'min-width': getColWidth(col)}"
              >
              {{col}}
            </th>
            <td cdk-cell *cdkCellDef="let row" [ngClass]="{'diff mismatch-column': row.data.comparison[col] && row.data.comparison[col].content.hasDiff}">
                <span
                  *ngIf="row.data.comparison[col] && row.data.comparison[col].content.right"
                  [innerHtml]="row.data.comparison[col].content.right"
                >
                </span>
            </td>
          </ng-container>

          <tr cdk-header-row *cdkHeaderRowDef="visibleColumns"></tr>
          <tr cdk-row *cdkRowDef="let row; columns: visibleColumns"></tr>

        </table>
    </div>
  </div>
</span>
